<server description="Sample Liberty server">

  <featureManager>
      <platform>jakartaee-10.0</platform>
      <feature>restfulWS</feature>
      <feature>jsonb</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9091"/>
  <variable name="https.port" defaultValue="9454"/>

  <httpEndpoint host="*" httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint" />

  <webApplication location="guide-contract-testing-inventory.war" contextRoot="/"/>
</server>
