<server description="Sample Liberty server">
    <!-- tag::features[] -->
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
    </featureManager>
    <!-- end::features[] -->
    <variable name="http.port" defaultValue="9090"/>
    <variable name="https.port" defaultValue="9453"/>

    <webApplication location="guide-contract-testing-system.war" contextRoot="/" />

    <httpEndpoint host="*" httpPort="${http.port}" 
        httpsPort="${https.port}" id="defaultHttpEndpoint"/>

</server>
